#menu{
    height: 70px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#icon{
    visibility: hidden;
}

#menu-left{
    display: flex;
    width: 100px;
}


.menu-logo > img{
    width: 100%;
}

.menu-logo img{
    width: 100%;
}

.menu-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-wrapper{
    display: flex;
}

.menu-link{
    list-style: none;
    margin: 10px;
}

.menu-link a{
    text-decoration: none;
    color: #2e2e2e;
    transition: all ease 0.2s;
}

.menu-link a:hover{
    border-bottom: 5px solid rgb(212, 164, 4);
    margin: 5px;
}

.redes_sociais{
    margin: 10px;
}

.menu-right > i{
    font-size: 25px;
    margin: 5px;
    color: #860606;
}